<form action="/store/favlist" method="POST">
    <button class="px-6 py-3 bg-gradient-to-r from-green-400 via-green-500 to-green-600 text-white rounded-lg hover:from-green-500 hover:to-green-700 transition-colors">
        Add To Favourites
    </button>
    <input type="text" name="houseId" value="<%= card._id %>" hidden/>
</form>